/* =============================
Start
================================*//
.floatleft {
	float: left 
}
.floatright { 
	float: right 
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { 
	outline: 0px solid 
}
img {
    max-width: 100%;
    height: auto;
}
.fix { 
	overflow: hidden 
}
html,body {
	font-family: 'Ropa Sans', sans-serif;
	height: 100%; 
	font-size: 14px;
	font-style: italic;
}
html::before,html::after,body::before,body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: .5px;
	height: .5px;
	border-radius: 50%;
	color: transparent;
}
a, a:hover, a:focus { 
	-webkit-transition:all 0.4s ease 0s;
	-moz-transition:all 0.4s ease 0s;
	-o-transition:all 0.4s ease 0s;
	transition:all 0.4s ease 0s;
	text-decoration: none;
	outline: none;
}

/* =============================
Comming Soon Area
================================*/
.logo{
	background-image: url(../img/logo.svg);
	background-position: center;
	width: 290px;
	height: 90px;
	margin: 0 auto 80px auto;
}
.logo span{ visibility: hidden; }
.coming-text{
    margin-bottom: 50px;
}
.coming-text h2{
    font-size: 60px;
    color: #ffd23f ;
    font-weight: 400;
}
.coming-text p{
    font-size: 20px;
    color: #1e8da3 ;
}
.comming-soon-area, .display-table{
    background-image: url(../img/sfondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.display-table{
    display: table;
    height: 100%;
    width: 100%;
}
.display-table-cell{
    vertical-align: middle;
    display: table-cell;
}
.social-icon{
    margin-top: 50px;
}
.social-icon a {
	background-color: #ffd23f;
	border-radius: 10px;
	display: inline-block;
	font-size: 21px;
	height: 50px;
	line-height: 53px;
	margin: 0 5px;
	transition: all 0.4s ease 0s;
	width: 50px;
	color: #1e8da3;
}
.social-icon a:hover, .social-icon a.one:hover, .social-icon a.two:hover{
	background-color: #1e8da3;
	color: #ffd23f;
}

/* =============================
CSS3 Animition
================================*/
html::before,html::after,body::before,body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: .5px;
	height: .5px;
	border-radius: 50%;
	color: transparent;
}

h1 {
	display: flex;
	justify-content: center;
	color: #ffd23f;
}

em {
	font-size: 60px;
	letter-spacing: 5px;
}

em.planet {
	-webkit-animation: planet-rotate 4s linear infinite;
	animation: planet-rotate 4s linear infinite;
	position: relative;
}

em.planet::before {
	content: "";
	position: absolute;
	top: -.5px;
	left: 3.5px;
}

em.planet.left {
	-webkit-transform-origin: 40px 5px;
	transform-origin: 40px 5px;
	color: #ffd23f;
}

em.planet.right {
	-webkit-transform-origin: -20px 5px;
	transform-origin: -20px 5px;
	color: #ffd23f;
}
span.space{
    margin: 0px 5px;
}
@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

/*post element*/
h1 {
	display: flex;
	justify-content: center;
	color: #ffd23f;
}
em {
	font-size: 60px;
	letter-spacing: 5px;
}
em.planet {
	-webkit-animation: planet-rotate 4s linear infinite;
	animation: planet-rotate 4s linear infinite;
	position: relative;
}
em.planet::before {
	content: "";
	position: absolute;
	top: -.5px;
	left: 3.5px;
}
em.planet.left {
	-webkit-transform-origin: 40px 5px;
	transform-origin: 40px 5px;
	color: #ffd23f;
}
em.planet.right {
	-webkit-transform-origin: -20px 5px;
	transform-origin: -20px 5px;
	color: #ffd23f;
}
span.space{
    margin: 0px 5px;
}
@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

/* =============================
Responsive
================================*/

/*Medium Screen*/
@media only screen and (min-width: 992px) {
  .logo{
      background-image: url(../img/wlogo.svg);
      width: 580px;
      height: 180px;
    }

}
/*Tablet Screen:768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
/*Mobile Layout:320px*/
@media only screen and (max-width: 767px) {
    .container {
      width: 300px;
    }
    em {
      font-size: 20px;
      margin-top: 20px;
    }
    .simply-countdown-losange > .simply-section{float: none;}
    .logo{
      margin-bottom: 20px;
   }
}
/*Width Mobile Layout:480px*/
@media only screen and (max-width: 480px) {
  .logo{
    background-image: url(../img/mlogo.svg);
    width: 220px;
    height: 68px;
    margin-bottom: 20px;
   }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
      width: 450px;
    }
}